.button__cart--color {
    color: #ffffff;
    background: #0074D4;
    box-shadow: 0 4.3rem 5.1rem rgba(0, 116, 212, 0.2), 0 1.29rem 1.6rem rgba(0, 116, 212, 0.241), 0px .5rem .7rem rgba(0, 116, 212, 0.15), 0px .2rem .23rem rgba(0, 116, 212, 0.059);
    border-radius: 0.8rem
}

